
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: "Roboto", serif;

    
}

html {
     width:100vw ;
     height: 100vh;
     font-size: 62.5%;
     overflow-x: hidden;
}
/* Menu */

.content{
width: 100vw;
height: 70px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #1f1e1f;
position: fixed;
padding-left: 30rem;


}
.logo{

    width: 100px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo img{

    width: 80%;
    height: 100%;
}
.logo h3{ 
    color:#ffc506;
    font-size: 1.6rem;
    padding: 2rem 1rem 2rem 1rem;
}

.content .list-menu{

    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    }

.content .list-menu li a{

    padding: 3rem 1rem 2rem 1rem;
    color: #ffc506;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 200ms ease-in;
    

    
}

.content .list-menu li a:hover{
background-color: #3333;
border-bottom:  2px solid #fff;
color:#fff

}

/* First-section */


.first-section{

    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)), url(../img/pão\ de\ fermentação\ -multigrãos.jpg); 
background-position: center ;
background-repeat: no-repeat;
background-size: cover;
background-position-y: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.first-section .conteudo-principal{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section h1{
 color:#ffc506;
font-size: 5rem;
margin-bottom: 2rem;
text-transform: uppercase;



}
  
.first-section h2{
    color:rgb(177,177,177);
    font-size: 3rem;
   font-weight:400;
   text-transform: uppercase;
   margin-bottom: 3rem;


}

.btn button{
width: 230px;
height: 60px;
cursor: pointer;
background-color: #ffc506;
text-transform: uppercase;
color: black;
border-radius: 10px;
margin-top: 5rem;
font-weight: 700;
transition: all 400ms ease-in;
}
    
.btn button:hover{

    border: 1px solid #ffc506;
    background-color: transparent;
    color:#ffc506;


}   

.btn{

    display: flex;
    width: 480px;
    justify-content: space-between;

}

/* Sobre nós */

.sobre-nos{

    background-color: #1f1e1f;
    width: 100%;
    padding-bottom: 5rem;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.sobre-nos img{
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid #ffff;
}

.main{

    display: flex;
    justify-content: space-between;
}

.contentsobre{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentsobre h2{

    font-size: 5rem;
    margin-bottom: 2rem;
}

.contentsobre p{

    font-size: 1.6rem;
    align-items: center;
    width: 600px;
    line-height: 3rem;
}

/* Pães e cafes */

.paesecafes{

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12,12,12,0.8);

}

.paesecafes h2{

    font-size: 5rem;
    text-transform: uppercase;
    color:#ffc506;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.itens-paesecafes{

    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,350px));
    justify-content: center;
    align-items: center;
    gap:30px;
    
}

.itens-paesecafes .info{

    background-color: rgb(211,221,221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

}

.itens-paesecafes h3{

    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
     
}

    .itens-paesecafes h4{
        font-size: 1.3rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 150px 150px;
        margin-left: 5rem;
        color:#585858;


    }

    .itens-paesecafes .info h4 span{

        font-size: 1.6rem;
        color:#585858;
        margin-left: 5rem;
    }

    .itens-paesecafes div{

box-shadow: 0px 0px 4px 1px;

    }

   
.itens-paesecafes img{

    width: 100%;
    height: 300px;
   
}

.itens-paesecafes .info .pedir{

    width: 200px;
    height: 35px;
    cursor: pointer;
    margin-top:0.5rem ;
    background-color: #ffc506;
    border-radius: 10px;
    text-transform: uppercase;
    color:black;
    transition:all 200ms ease-in;
    border: none;


}

.itens-paesecafes .info .pedir:hover{

    background-color: #5e5252;
    color:white
}

/* Contatos */

.contatos{

    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    font-size: 1rem;
    color:#fff;
    padding-bottom: 4rem;

}
.contatos h3{

    font-size: 4rem;
    margin-bottom: 3rem;
    padding-top: 3rem;

}
.contatos-secao{

    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    
}
.contatos-secao i{

    margin-right: 1rem;
}

.contatos-secao div{

    cursor: pointer;
}

.contatos-secao div:hover{

    color:#ffc506 ;
}

/* Footer */

footer{

   height: 25px; 
   background-color: black;
   color:white;
   font-size: 1.4rem;
   display: flex;
   justify-content: center;
   align-items: center;


}

/* Responsividade do Site */
/*  Primeira responsividade 1200 px*/

@media(max-width:1200px){

   .main{

    display: block;
    margin-top: 5rem;
    
   } 

   .content {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    padding-left: 0px;
   
    
   }

   .first-section{

    padding-top: 15rem;
    
   }

    

   .sobre-nos img{
margin-left: -2px ;
width: 600px;

   }
   .contatos-secao{

    width: 80%;
   }



}
/* Segunda responsividade 992px */

@media (max-width:992px){

    html{

        font-size: 50%;
    }

    .contatos-secao{

        width: 80%;
    }

            }
/* Terceira responsividade 768px */

@media(max-width:768px){

    html{

        font-size:40%;
        background-color: #1f1e1f;
    }

    .content{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;

    }

    .first-section h1{
        font-size:5rem;  }

    .content .list-menu{

        display: none;
    }

    .contentsobre p{
font-size: 2.5rem;
line-height: 4rem;

    }
/* Menu Hamburguer */
    .one,
    .two,
    .three {

        width: 80%;
        height: 2px;
        background-color:#ffc506;
        margin: 6px auto;
        transition-duration: 0.5s;


    }
   

    .menu-toggle{

        width:30px;
        height: 30px;
    }

    .content.on{
position: fixed;
top: 0;
left:0;
bottom:0;
width:100vw;
height: 100vh;
background-color: rgba(30,31,30,0.8);
z-index:10;
display: flex;
justify-content: center;
align-items: center;


    }

    .content.on .logo{

        display:none;
    }

    .content.on .menu-toggle{

        position: absolute;
        right:40px;
        top:20px;

      }

      .content.on .list-menu{

        display: block;
      }

      .content.on .list-menu li{

        display: flex;
        justify-content: center;
        align-items: center;
        
      }

     .content.on .list-menu li a{

        font-size: 4rem;
        
     }

     .content.on .menu-toggle .two{

        opacity: 0;
     }

     .content.on .menu-toggle .one{

        transform: rotate(45deg) translate(5px ,-8px)
     }

     .content.on .menu-toggle .three{

        transform: rotate(-45deg) translate(20px, -6px);
     }




    .itens-paesecafes{

        grid-template-columns: repeat(2,minmax(50px,350px));

    }

    .itens-paesecafes .info h4{

        margin-left: 12rem;
    }

    .contatos-secao{

        display: block;
        text-align: center;
        font-size: 2rem;
        
    }

    .contatos-secao div {

        margin: 1rem;
    }
}

/* Quarta responsividade 600px */

@media(max-width:600px){

    .conteudo-principal h1{

        width: 500px;
        text-align: center;
        font-size: 3.5rem;

    }
    .conteudo-principal h2{

        font-size: 2.5rem;
    }
  

   
  .contentsobre p{

    font-size: 2.5rem;
    width: 500px;
    line-height: 4rem;
  }

 .img-padaria img{

    width: 400px;
   margin-left: 50px;
 }

 .itens-paesecafes{
    grid-template-columns: repeat(auto-fit, minmax(50px,350px));

    padding-bottom: 10px;
 }

 .itens-paesecafes{

    width: 80%;
    height: 60%;
 }

 .content.on .list-menu li a{

    font-size: 3rem;
    
  }
  .contato{

    width: 300px;
  }
  

  }

  

    /* Quinta responsividade */

  @media(max-width:500px){

    .conteudo-principal h1{

        width: 400px;
        text-align: center;
        font-size: 2.5rem;

    }
    .conteudo-principal h2{

        font-size: 2.0rem;
    }

    .conteudo-principal .btn{

       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 150px;
    }

    .btn button {

        font-size: 2rem;
        width: 150%;

    }

    .sobre-nos P{

        font-size: 2rem;
        padding-left: 50px;
        padding-right: 50px;
    }

    .itens-paesecafes{

        width: 70%;
        height: 50%;
     }
    
}

/* Sexta responsividade */

@media(max-width:395px){

    .img-padaria img{

        width: 250px;
        height: auto;
    }

    .sobre-nos p{

        font-size: 2rem;
        align-items: center;
        width: 350px;
        
    }

    .itens-paesecafes .info .pedir{

        width: 60%;
        font-size: 1.5rem;
        
    }

    .content.on .list-menu li a{

        font-size: 2rem;
    }
}


  

    

       
  


          
       

    

    




