@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

/* ================= HEADER ================= */

.home-header {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-logo {
    width: 120px;
}

.header-logo img {
    width: 100%;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    color: #ffc506;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.menu-toggle {
    display: none;
}

/* ================= HOME ================= */

.section-home {
    min-height: 100vh;
    padding-top: 100px;
    background: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)),
        url("../img/pao-multigraosimg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    text-align: center;
}

.home-content h1 {
    color: #ffc506;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.home-content h2 {
    color: #ccc;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.btn {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.btn-reservar,
.btn-montar {
    width: 220px;
    height: 55px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffc506;
    transition: 0.3s;
}

.btn-reservar:hover,
.btn-montar:hover {
    background-color: transparent;
    color: #ffc506;
    border: 1px solid #ffc506;
}

/* ================= SOBRE ================= */

.section-about {
    background-color: #000;
    padding: 8rem 2rem;
}

.about-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.about-content h2 {
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
}

.about-content p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 3.5rem;
    margin-bottom: 1.6rem;
}

.about-image img {
    width: 280px;
    border: 2px solid #fff;
    border-radius: 10px;
}


/* ================= PRODUTOS ================= */

.section-products {
    background-color: #000;
    padding: 6rem 2rem;
    text-align: center;
}

.section-products h2 {
    color: #ffc506;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

/*Grid*/

.products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.products-cards>div {
    display: flex;
    flex-direction: column;
    background-color: #d3dddd;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

.products-cards img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

/*Texto*/

.products-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    text-align: center;
}

.products-text h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;

}

.products-text h4 {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #444;
}

/*Preço*/
.products-text span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Botão */
.btn-pedir {
    margin-top: 0 auto;
    align-self: center;
    width: 180px;
    height: 38px;
    border-radius: 10px;
    border: none;
    background-color: #ffc506;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pedir:hover {
    background-color: #555;
    color: #fff;
}

/* ================= CONTATO ================= */

.section-contact {
    background-color: #1f1e1f;
    color: #fff;
    padding: 5rem 2rem;
    text-align: center;
}

.section-contact h3 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.contact-content {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.contact-icon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
}

.contact-icon i {
    font-size: 3rem;
    color: #ffc506;
}

/* ================= FOOTER ================= */

footer {
    background-color: #000;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

/* ================= RESPONSIVO ================= */
@media (max-width: 1200px) {


    .about-container {
        max-width: 1000px;
        gap: 4rem;
    }

    .about-content h2 {
        font-size: 4rem;
    }

    .about-content p {
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    .about-image img {
        width: 260px;
    }
}

@media (max-width: 992px) {

    .about-container {
        flex-direction: column;
        gap: 3.5rem;

    }

    .about-content h2 {
        font-size: 3.6rem;
        text-align: center;

    }

    .about-content p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        max-width: 700px;
        margin: 0 auto;

    }

    .about-image img {
        width: 240px;
    }
}


@media (max-width: 768px) {

    /*Home*/
    .section-home {
        padding: 0 2rem;
        text-align: center;
    }

    .home-content h1 {
        font-size: 3.6rem;
    }

    .home-content h2 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .btn {
        display: flex;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
    }

    .btn-reservar,
    .btn-montar {
        width: 100%;
        max-width: 250px;
        height: 48px;
        font-size: 1.4rem;
    }

    /*About*/
    .about-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .about-content h2 {
        font-size: 3.2rem;
    }

    .about-content p {
        max-width: 650px;
        padding: 0 1.5rem;
        line-height: 2.8rem;
        text-align: left;
    }

    /*About*/
    .products-cards {
        grid-template-columns: repeat(2, minmax(140px, 1fr));
    }

    .products-text div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .products-text h3 {
        min-height: 4.2rem;
        text-align: center;
    }

    .products-text h4 {
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        text-align: center;
    }

    .btn-pedir {
        margin-top: auto;
    }

    /*Contact*/
    .contact-content {
        display: flex;
        gap: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 576px) {

    /* Header-menu */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        z-index: 1100;
    }
    .menu-toggle div {
        width: 28px;
        height: 3px;
        background: #ffc506;
        transition: 0.3s;
    }
    .nav-menu {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background: #000;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2.5rem 0;
        display: none;
    }
    .nav-menu.active {
        display: flex;
    }
    /* animação do ícone */
    .menu-toggle.active .one {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .menu-toggle.active .two {
        opacity: 0;
    }

    .menu-toggle.active .three {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    /* Home */
    .section-home {
        padding: 0 2rem;
    }

    .home-content h1 {
        font-size: 2.8rem;
    }

    .home-content h2 {
        font-size: 2rem;
    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn-reservar,
    .btn-montar {
        max-width: 40%;
    }

    /* About */
    .about-container {
        padding: 0 1.5rem;
    }

    .about-content p {
        text-align: center;
        margin: 20px;
        line-height: 2.6rem;
    }

    .about-image img {
        width: 240px;
    }

    /*  Products  */

    .products-cards {
        grid-template-columns: 1fr;
        max-width: 380px;
        min-height: 100%;
    }

    .products-card img {

        object-fit: cover;

    }

    /* Contact*/

    .contact-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .contact-content div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3rem;
    }

    .contact-content i {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

}

@media (max-width: 480px) {

    /* Header */
    .home-header {
        height: 80px;
        padding: 0 1.5rem;
    }

    .header-logo {
        width: 90px;
    }

    .nav-menu {
        top: 80px;
    }

    /* Home */
    .section-home {
        padding: 0 1.2rem;
    }

    .home-content h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .home-content h2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .btn {
        flex-direction: column;
        gap: 1.2rem;
    }

    .btn-reservar,
    .btn-montar {
        max-width: 40%;
        width: 40%;
        height: 44px;
        font-size: 1.3rem;
    }

    /* About */
    .about-content h2 {
        font-size: 2.6rem;
    }

    .about-content p {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin: 1rem auto;
        text-align: center;
    }

    .about-image img {
        width: 200px;
    }

    /* Products */
    .section-products h2 {
        font-size: 3.2rem;
    }

    .products-cards {
        max-width: 320px;
    }

    .products-text h3 {
        font-size: 1.6rem;
    }

    .products-text h4 {
        font-size: 1.2rem;
    }

    .btn-pedir {
        width: 100%;
        max-width: 160px;
        height: 36px;
        font-size: 1.2rem;
    }

    /* Contact */
    .section-contact h3 {
        font-size: 3rem;
    }

    .contact-content {
        gap: 1.2rem;
    }

    .contact-content i {
        font-size: 1.8rem;
    }

    .contact-content span {
        font-size: 1.2rem;
    }

    /* Footer */
    footer h4 {
        font-size: 1.2rem;
    }
}
